!!!
%html
  %head
    %title 'Olsen Tag - Administration'
    = stylesheet_link_tag 'shoppe/application'
    = javascript_include_tag 'shoppe/application'
    = csrf_meta_tags
    :javascript
      window.Shoppe = {}
      window.Shoppe.currencyUnit = "#{h Shoppe.settings.currency_unit}";
  %body
    %nav.sidebar
      %header.logo
       
      %p.logged= t('.logged_in_as', user_name: current_user.full_name)

      %ul
        - for item in Shoppe::NavigationManager.find(:admin_primary).items
          %li= navigation_manager_link item

        %li= link_to t('.logout'), [:logout], :method => :delete

    %header.main
      = yield :header

    #content
      = display_flash
      %section.main
        = yield

    %footer
      %p.store= link_to "&larr; #{t('.goto')} #{Shoppe.settings.store_name}".html_safe, '/'

