- @page_title = "Add Amazon Product"
= content_for :header do
  %p.buttons
    - unless @product.new_record?
      = link_to t('shoppe.localisations.localisations') , [@product, :localisations], :class => 'button'
    = link_to t('shoppe.products.back_to_products') , :products, :class => 'button'
  %h2.products= t('shoppe.products.products')

= form_for @product, :html => {:multipart => true} do |f|
  = f.error_messages

  = f.hidden_field :reference, :value => 'amazon'
  = f.hidden_field :ref_url,  :value => @item[:link]
  = f.hidden_field :stock_control, :value =>  false

  = field_set_tag  t('shoppe.products.product_information') do
    %dl
      %dt= f.label :product_categories, t('shoppe.product_category.product_categories')
      %dd= f.collection_select :product_category_ids, Shoppe::ProductCategory.ordered, :id, :name, {:prompt => false}, {:class => 'chosen', :multiple => true, :data => {:placeholder => t('shoppe.product_category.choose_product_category') }}

    .splitContainer
      %dl.third
        %dt= f.label :name, t('shoppe.products.name')
        %dd= f.text_field :name, :class => 'text focus', :value => @item[:title]
      %dl.third
        %dt= f.label :permalink, t('shoppe.products.permalink')
        %dd= f.text_field :permalink, :class => 'text', :value => @item[:item_id]
      %dl.third
        %dt= f.label :sku, t('shoppe.products.sku')
        %dd= f.text_field :sku, :class => 'text', :value => @item[:item_id]
    %dl
      %dt= f.label :description, t('shoppe.products.description')
      %dd= f.text_area :description, :class => 'text'
    %dl
      %dt= f.label :short_description, t('shoppe.products.short_description')
      %dd= f.text_area :short_description, :class => 'text'
    %dl
      %dt= f.label :in_the_box, t('shoppe.products.in_the_box')
      %dd= f.text_area :in_the_box, :class => 'text'

  = field_set_tag t('shoppe.products.attributes') do
    .margin
      %table.productAttributes
        %thead
          %tr
            %td= t('shoppe.products.name')
            %td= t('shoppe.products.value')
            %td.searchable= t('shoppe.products.searchable?')
            %td.searchable= t('shoppe.products.public?')
            %td.remove= t('shoppe.products.remove')
            %td
        %tbody
          %tr.template{:style => 'display:none;'}
            %td= text_field_tag 'product[product_attributes_array][][key]', '', :placeholder => t('shoppe.products.name')
            %td= text_field_tag 'product[product_attributes_array][][value]', '', :placeholder => t('shoppe.products.value')
            %td.searchable= check_box_tag 'product[product_attributes_array][][searchable]', '1'
            %td.searchable= check_box_tag 'product[product_attributes_array][][public]', '1'
            %td.remove= link_to t('shoppe.remove') , '#', :class => 'button button-mini purple'
            %td.handle
          - for attribute in @product.product_attributes
            %tr
              %td= text_field_tag 'product[product_attributes_array][][key]', attribute.key, :placeholder => t('shoppe.products.name')
              %td= text_field_tag 'product[product_attributes_array][][value]', attribute.value, :placeholder => t('shoppe.products.value')
              %td.searchable= check_box_tag 'product[product_attributes_array][][searchable]', '1', attribute.searchable?
              %td.searchable= check_box_tag 'product[product_attributes_array][][public]', '1', attribute.public?
              %td.remove= link_to t("shoppe.remove"), '#', :class => 'button button-mini purple'
              %td.handle
      %p.addAttribute= link_to t('shoppe.products.add_attribute') , '#', :data => {:behavior => 'addAttributeToAttributesTable'}, :class => 'button button-mini green'

  = field_set_tag t('shoppe.products.attachments') do
    .splitContainer
      %dl.half
        %dt= f.label "attachments[default_image][file]", t('shoppe.products.default_image')
        %dd
          = attachment_preview @product.default_image
          %p= f.file_field "attachments[default_image][file]"
          = f.hidden_field "attachments[default_image][role]", value: "default_image"
          = f.hidden_field "attachments[default_image][parent_id]", value: @product.id
      %dl.half
        %dt= f.label "attachments[data_sheet][file]", t('shoppe.products.datasheet')
        %dd
          = attachment_preview @product.data_sheet
          %p= f.file_field "attachments[data_sheet][file]"
          = f.hidden_field "attachments[data_sheet][role]", value: "data_sheet"
          = f.hidden_field "attachments[data_sheet][parent_id]", value: @product.id

    .splitContainer.extraAttachments
      %dl.half
        %dd
          = attachment_preview nil, hide_if_blank: false
          %p= f.file_field "attachments[extra][file]", :multiple => true
          = f.hidden_field "attachments[extra][parent_type]", value: "Shoppe::Product"
          = f.hidden_field "attachments[extra][parent_id]", value: @product.id

      - @product.attachments.each do |attachment|
        - unless ["default_image", "data_sheet"].include?(attachment.role)
          %dl.half
            %dd
              = attachment_preview attachment

    %p.addAttachments= link_to t('shoppe.products.add_attachments') , '#', :data => {:behavior => 'addAttachmentToExtraAttachments'}, :class => 'button button-mini green'

  - unless @product.has_variants?
    = field_set_tag t('shoppe.products.pricing') do
      .splitContainer
        %dl.third
          %dt= f.label :price, t('shoppe.products.price')
          %dd
            .moneyInput
              .currency= Shoppe.settings.currency_unit.html_safe
              - unless @item[:price].nil?
                = f.text_field :price, :class => 'text', :value => @item[:price]["Amount"].to_i/100
       

  = field_set_tag  t('shoppe.products.website_properties') do
    .splitContainer
      %dl.half
        %dt= f.label :active,  t('shoppe.products.on_sale?')
        %dd.checkbox
          = f.check_box :active
          = f.label :active,  t('shoppe.products.on_sale_info')
      %dl.half
        %dt= f.label :featured,  t('shoppe.products.featured?')
        %dd.checkbox
          = f.check_box :featured
          = f.label :featured, t('shoppe.products.featured_info')

  %p.submit
    - unless @product.new_record?
      %span.right= link_to t('shoppe.delete') , @product, :class => 'button purple', :method => :delete, :data => {:confirm => "Are you sure you wish to remove this product?"}
    = f.submit t('shoppe.submit'),  :class => 'button green'
    = link_to t('shoppe.cancel'), :products, :class => 'button'
